<%# content_for :left_menu  do %>
<div id="search_filter" class="left_search">
<%#= render :partial => 'search' %>
</div>
<%# end %>
    <h1>Edit User</h1>

<% semantic_form_for @user, :url => admin_user_path(@user) do |f| %>
 <% if current_user.is_admin? %>
      <%= render :partial => 'form', :locals => {:f => f}%>
    <% end %>
    
    <div style="margin-left:236px;*margin-left:180px;margin-top:10px;">
     <%= link_to 'Cancel', admin_users_path, :class=>"awesome" %>
  </div>
   <div class='submit_buttons' style="margin-left:403px;margin-top:-23px;">
     <%= f.submit 'Update', :class=>"awesome" %>

   </div>
<% end %>
